.topContainer {
  background-image: url(../../images/topContainerImage.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 60px;
}
.topContainerLeftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.logoTopContainerDesign {
  padding-top: 46px;
  padding-bottom: 31px;
}
.mariachi {
  font-size: 125px;
  color: #ffd7ad;
  font-weight: bold;
}
.mariachiDescription {
  padding: 80px 0px 51px 0px;
  font-size: 30px;
  color: #ffd7ad;
}

.dontMissOurMenu {
  background-color: #ffd7ad;
  padding: 102px 58px 86px 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dontMissMenuHeading {
  color: #4a1831;
  font-size: 64px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: bold;
}
.dontMissMenuDescription {
  font-size: 25px;
  padding-bottom: 66px;
  text-align: center;
}
.aboutMariachi {
  background-color: #ffd7ad;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 0px 59px 0px;
}
.aboutMariachiLeftSide {
  width: 45%;
  padding-left: 90px;
}
.aboutMariachiLeftSide img {
  width: 100%;
}
.aboutMariachiRightSide {
  width: 45%;
  padding: 0px 136px 0px 49px;
}
.aboutMariachiHeading {
  color: #4a1831;
  font-size: 75px;
  padding-bottom: 58px;
  font-weight: bold;
}
.aboutMariachiDescription {
  color: #4a1831;
  font-size: 30px;
  padding-bottom: 38px;
}
.discount {
  background-color: #ffd7ad;
  position: relative;
  display: flex;
  justify-content: center;
}
.discountImage {
  display: flex;
  align-items: flex-end;
}
.discountImage img {
  width: 100%;
}
.discountOnTacos {
  position: absolute;
  top: 10px;
  left: 70px;
}
.twentyFivePercent {
  font-size: 167px;
  color: #e63956;
  font-weight: 900;
}
.discountSub {
  font-size: 64px;
  color: #55112e;
  font-weight: 900;
}
.onTacos {
  font-size: 104px;
  color: #6cc5ac;
  font-weight: 900;
}
.seeOurOffers {
  background-color: rgba(74, 24, 49, 1);
  padding: 127px 33px 127px 133px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seeOurOffersLeftSide {
  width: 50%;
}
.seeOurOffersRightSide {
  width: 45%;
}
.seeOurOffersRightSide img {
  width: 100%;
}
.seeOurOffersHeading {
  font-size: 75px;
  color: #ffd7ad;
  font-weight: bold;
  padding: 123px 0px 58px 0px;
}
.seeOurOffersDescription {
  color: #ffd7ad;
  font-size: 30px;
  padding-bottom: 72px;
}
.mariachiMore {
  background-image: url(../../images/moreMariache.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(103, 141, 124, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 107px 0px 103px 0px;
  background-blend-mode: multiply;
}
.mariachiMoreDetailed {
  padding: 62px 50px 42px 50px;
  font-size: 42px;
  color: #ffd7ad;
  text-align: center;
}
.mariachiMoreDetailedBelow {
  color: #ffd7ad;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
}
.getOurLatestOffers {
  padding: 215px 150px 225px 150px;
  background-color: #ffd7ad;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getOurLatestOffersHeading {
  color: #4a1831;
  font-size: 75px;
  padding-bottom: 58px;
  font-weight: 900;
  text-align: center;
}
.getOurLatestOffersDescription {
  font-size: 30px;
  color: #4a1831;
  padding-bottom: 114px;
  text-align: center;
}

.midImage img {
  width: 100%;
}
.buttonClass {
  padding: 25px 44px;
  font-size: 25px;
  width: 325px;
}
.buttonClassEnterEmail {
  padding: 13px 0px;
  font-size: 25px;
  width: 325px;
}
.enterEmail {
  position: relative;
}
.inputEnter {
  width: 600px;
  height: 66px;
  border-radius: 50px;
  padding: 0px 39px 0px 39px;
  font-size: 20px;
}
.buttonKey {
  position: absolute;
  top: 0px;
  right: 0px;
}
.orderNowButton {
  padding-bottom: 215px;
}
@media screen and (max-width: 1220px) {
  .aboutMariachiLeftSide {
    padding-left: 30px;
  }
  .aboutMariachiRightSide {
    padding: 0px 27px 0px 0px;
  }
  .aboutMariachiHeading {
    font-size: 63px;
    padding-bottom: 34px;

    line-height: 1;
  }
  .seeOurOffers {
    padding: 127px 33px 127px 41px;
  }
  .seeOurOffersHeading {
    font-size: 63px;
    padding-bottom: 34px;

    line-height: 1;
  }
  .seeOurOffersDescription {
    font-size: 25px;
  }
  .aboutMariachiDescription {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .buttonClass {
    width: 100%;
  }
  .buttonClassEnterEmail {
    width: 100%;
    padding: 13px 10px;
  }
  .inputEnter {
    width: 430px;
  }
  .twentyFivePercent {
    font-size: 110px;
  }
  .discountSub {
    font-size: 48px;
  }
  .onTacos {
    font-size: 68px;
  }
  .topContainerLeftSide {
    width: 98%;
  }
  .mariachi {
    font-size: 95px;
  }
  .mariachiDescription {
    font-size: 25px;
  }
  .orderNowButton {
    padding-bottom: 215px;
  }
}
@media screen and (max-width: 600px) {
  .aboutMariachi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutMariachiLeftSide {
    width: 60%;
  }
  .aboutMariachiRightSide {
    width: 100%;
    padding: 40px 20px 40px 20px;
  }
  .aboutMariachiHeading {
    text-align: center;
  }
  .aboutMariachiDescription {
    text-align: center;
  }
  .twentyFivePercent {
    font-size: 58px;
  }
  .discountSub {
    font-size: 30px;
  }
  .onTacos {
    font-size: 40px;
  }
  .seeOurOffers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 59px 20px;
  }
  .seeOurOffersLeftSide {
    width: 100%;
    padding: 40px 20px 40px 20px;
    text-align: center;
  }
  .seeOurOffersRightSide {
    width: 60%;
  }
  .mariachiMoreDetailed {
    font-size: 25px;
  }
  .mariachiMoreDetailedBelow {
    font-size: 35px;
  }
  .getOurLatestOffers {
    padding: 105px 20px 103px 20px;
  }
  .getOurLatestOffersHeading {
    font-size: 63px;
    line-height: 1;
  }
  .getOurLatestOffersDescription {
    font-size: 25px;
  }
  .inputEnter {
    width: 100%;
  }
  .buttonKey {
    position: unset;
    padding-top: 20px;
  }
  .dontMissMenuHeading {
    font-size: 63px;
    line-height: 1;
  }
  .dontMissOurMenu {
    padding: 102px 20px 86px 20px;
  }
  .mariachi {
    font-size: 57px;
  }
  .topContainer {
    padding-left: 20px;
  }
  .newDesigning {
    padding-right: 20px;
  }
}
@media screen and (max-width: 300px) {
  .twentyFivePercent {
    font-size: 30px;
  }
  .discountSub {
    font-size: 20px;
  }
  .onTacos {
    font-size: 30px;
  }
  .mariachi {
    font-size: 45px;
  }
  .dontMissMenuHeading {
    font-size: 45px;
  }
  .aboutMariachiHeading {
    font-size: 45px;
  }
  .seeOurOffersHeading {
    font-size: 45px;
  }
  .getOurLatestOffersHeading {
    font-size: 45px;
  }
}
